{% extends "weightsheet/base.html" %}

{% block Title_Html %} ASV Item List {% endblock %}
        
{% block Title_Page %} ASV Item List {% endblock %}

{% block content %}
        {% for item in all_items %}
            <div class='vessel'>
                <h2><a>{{item.Part_Name}}</a></h2>
                <p>ID Item: {{item.ID_Item}}<br>
                ASV Item: {{item.ASV_Item}}<br>
                Local Group System: {{item.ID_GS}}<br>
                Global Group System: {{item.Global_Group}}<br>
                Description: {{item.Description}}<br>
                Quantity: {{item.Quantity|floatformat:3 }} <br>
                Mass: {{item.Mass|floatformat:3}} kilograms<br>
                LCG: {{item.LCG|floatformat:3}} meters<br>
                TCG: {{item.TCG|floatformat:3}} meters<br>
                VCG: {{item.VCG|floatformat:3}} meters<br>
                ASV Project: {{item.ID_ASV.ASV_Project_Number}}</p>
            </div>
        {% endfor %}
{% endblock %}

