{% extends "weightsheet/base.html" %}
{% load range %}


{% block Title_Html %} ASV {{vessel.ASV_Project_Number}} Vessel {% endblock %}

{% block Title_Page %} {{vessel.ASV_Project_Number}} Group System Informations {% endblock %}

{% block content %}
<div class="row">
    <div class="column">

        <div style="margin-left:40px;"><h3>Upload a Group System File: </h3></div>
        <form action="{% url "weightsheet:upload"  ASV_Project_Number=vessel.ASV_Project_Number %}"  method="POST" enctype="multipart/form-data" class="form-inline"> 
        {% csrf_token %}
        <div class="form-group" style="margin-left:40px;">
            <div class="col-md-8">
                <input type="file" name="xls_file" id="xls_file" required="True" class="form-control">
            </div>                    
        </div>
        <div class="form-group">                    
            <div class="col-md-12" style="margin-left:40px;">
                 <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload"></span>Upload </button>
            </div> 
        </div>
        </form>

        <div class="vessel">
            

            <table>
                <tr>
                    <th>Group System</th>
                    <th>Mass (kg)</th>
                    <th>LCG (m)</th>
                    <th>TCG (m)</th>
                    <th>VCG (m)</th>
                </tr>
                {% for gs in gs_list %}
                    <tr>
                    <td><a href="{% url "weightsheet:gs_items" ASV_Project_Number=vessel.ASV_Project_Number gs=gs.ID_GS %}">G{{gs.ID_GS}}</a></td>
                    <td>{{gs.Mass|floatformat:3 }}</td>
                    <td>{{gs.LCG|floatformat:3}}</td>
                    <td>{{gs.TCG|floatformat:3}}</td>
                    <td>{{gs.VCG|floatformat:3}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
        
       

    <div class="column">
         <div class="group_system">
            <h3>Bounding Box: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <button type="submit"  class="btn btn-primary" >Calculate</button> </h3> 
            <p> <b>Reference: X + to forward, Y + to portside, Z + up </b></p>

        </div>

        <form method="POST" class="post-form" style="margin-left:40px;">{% csrf_token %}
            {% for field in form %}
            <div class="row">
                    <div class="col-md-3">
                        {{field.label_tag}} 
                    </div>
                    <div class="col-md-5">
                        {{field}} meters <br>
                    </div>
                        {{field.errors}}
            </div>
            {% endfor %}

            
        </form>
    <div class="vessel">
            <table>
                <tr>
                    <th>Mass (kg)</th>
                    <th>LCG (m)</th>
                    <th>TCG (m)</th>
                    <th>VCG (m)</th>
                </tr>
                <tr>
                    <td>{{bounding_box_data.0|floatformat:3 }}</td>
                    <td>{{bounding_box_data.1|floatformat:3}}</td>
                    <td>{{bounding_box_data.2|floatformat:3}}</td>
                    <td>{{bounding_box_data.3|floatformat:3}}</td>
                </tr>
            </table>
        </div>
    </div>
     
</div>

{% endblock %}

