{% extends "weightsheet/base.html" %}
{% load range %}


{% block Title_Html %} ASV {{vessel.ASV_Project_Number}} Vessel {% endblock %}

{% block Title_Page %} {{vessel.ASV_Project_Number}} Group System Informations {% endblock %}

{% block content %}
        <div style="margin-left:40px;"><h3>Upload a Group System File: </h3></div>
        <form action="{% url "weightsheet:upload"  ASV_Project_Number=vessel.ASV_Project_Number %}"  method="POST" enctype="multipart/form-data" class="form-inline"> 
        {% csrf_token %}
        <div class="form-group" style="margin-left:40px;">
            <div class="col-md-8">
                <input type="file" name="xls_file" id="xls_file" required="True" class="form-control">
            </div>                    
        </div>
        <div class="form-group">                    
            <div class="col-md-12" style="margin-left:40px;">
                 <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload"></span>Upload </button>
            </div> 
        </div>
        </form>

        <div class="group_system">
            <h3>Bounding Box: </h3>
            <p> <b>Reference: X + to forward, Y + to portside, Z + up </b></p>
        </div>

        <form method="POST" class="post-form" style="margin-left:40px;">{% csrf_token %}
            {% for field in form %}
            <div class="row">
                    <div class="col-md-3">
                        {{field.label_tag}} 
                    </div>
                    <div class="col-md-3">
                        {{field}} meters <br><br>
                    </div>
                        {{field.errors}}
            </div>
            {% endfor %}

            <button type="submit"  class="btn btn-primary" >Calculate</button>
                            
        </form>

        <div class="group_system">
                <p>Bounding Box Mass: {{bounding_box_data.0|floatformat:3 }} kilograms<br>
                    Bounding Box LCG: {{bounding_box_data.1|floatformat:3}} meters<br>
                    Bounding Box TCG: {{bounding_box_data.2|floatformat:3}} meters<br>
                    Bounding Box VCG: {{bounding_box_data.3|floatformat:3}} meters<br></p>
        </div>

        </div>
        {% for gs in gs_list %}
            <div class="vessel">
                <h2><a href="{% url "weightsheet:gs_items" ASV_Project_Number=vessel.ASV_Project_Number gs=gs.ID_GS %}">G{{gs.ID_GS}}</a></h2>
                <div>
                <p>Mass: {{gs.Mass|floatformat:3 }} kilograms <br>
                    LCG: {{gs.LCG|floatformat:3}} meters <br>
                    TCG: {{gs.TCG|floatformat:3}} meters <br>
                    VCG: {{gs.VCG|floatformat:3}} meters <br></p>
                </div>
            </div>
        {% endfor %}
        </div>
{% endblock %}

