{% extends "weightsheet/base.html" %}


{% block Title_Html %} ASV {{vessel.ASV_Project_Number}} Item List {% endblock %}
        
{% block Title_Page %} {{vessel.ASV_Project_Number}} Group System {{gs}} {% endblock %}

{% block content %}
            <div class="vessel">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Part Name</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Mass (kg) </th>
                    <th>LCG (m)</th>
                    <th>TCG (m)</th>
                    <th>VCG (m)</th></tr>
                
                    {% for item in gs_choose %}
                        <tr>
                        <td>{{item.ID_Item}}</td>
                        <td>{{item.Part_Name}}</td>
                        <td>{{item.Description}}</td>
                        <td>{{item.Quantity|floatformat:3}}</td>
                        <td>{{item.Mass|floatformat:3}}</td>
                        <td>{{item.LCG|floatformat:3}}</td>
                        <td>{{item.TCG|floatformat:3}}</td>
                        <td>{{item.VCG|floatformat:3}}</td>
                        </tr>
                    {% endfor %}
            </table>
            </div>
{% endblock %}
