<html>
    <head>
        <title>ASV Workbench | WeightSheet Module</title>
    </head>
    <body>
    	<div><h1> ASV Workbench | WeightSheet Module </h1></div>
        <div>
            <h3><a>The weightsheet is used to recording all items that compose or will cbe contained in a vessel. This way, designers can
            	can check whether weight and centre of gravity (CoG) of the vesse are in accordance with desired values. 
            </a></h3>
        </div>
        <div>
        	<h2><a href="{% url "weightsheet:vessel_add" %}">Create a new project</a></h2>
			<h2><a href="{% url "weightsheet:vessel_list" %}">Find project</a></h2>
        </div>

        <div>


        </div>


</html>