{% extends "weightsheet/base.html" %}

{% block Title_Html %} ASV Workbench | WeightSheet Module {% endblock %}

{% block Title_Page %} ASV Workbench | WeightSheet Module {% endblock %}

{% block content %}
        <div class="choose" >
            <h4>The weightsheet is used to recording all items that compose or will be contained in a vessel. This way, designers
                can check whether weight and center of gravity (CoG) of the vessel are in accordance with desired values.
            </h4>
        </div>
        <div class="choose" >
            <h2><a href="{% url "weightsheet:vessel_add" %}">Create a new project</a></h2>
            <h2><a href="{% url "weightsheet:vessel_list" %}">Find a project</a></h2>
        </div>
{% endblock %}
