 <form method="POST" action="{% url "weightsheet:bounding_box" %}" style="margin-left:40px;">
        {% csrf_token %}

        X Aft: <input type="number" name="X_aft"> meters <br><br>
        X Forward: <input type="number" name="X_forward"> meters <br><br>
        Y Starboard: <input type="number" name="Y_starboard">meters <br><br>
        Y Portside: <input type="number" name="Y_portside">meters <br><br>
        Z Up: <input type="number" name="Z_up">meters <br><br>
        Z Bottom: <input type="number" name="Z_bottom">meters <br><br>

        <button type="submit"  class="btn btn-primary" ><span  style="margin-right:10px;"></span>Calculate</button>
        </form>
        



<form method="get">
            <p><label for="id_X_aft">X Aft:</label><input type="number" name="X_aft" id="id_X_aft" /> meters<br><br>
                <label for="id_X_forward">X Forward:</label><input type="number" name="X_forward" id="id_X_forward" /> meters<br><br>
                <label for="id_Y_starboard">Y Starboard:</label><input type="number" name="Y_starboard" id="id_Y_starboard" /> meters<br><br>
                <label for="id_Y_portside">Y Portside:</label><input type="number" name="Y_portside" id="id_Y_portside" /> meters<br><br>
                <label for="id_Z_bottom">Z Bottom:</label><input type="number" name="Z_bottom" id="id_Z_bottom" /> meters<br><br>
                <label for="id_Z_up">Z Up:</label><input type="number" name="Z_up" id="id_Z_up" /> meters<br><br>
            <button type="submit"  class="btn btn-primary" >Search</button>
            </form>


for item in Item.objects.filter(ID_ASV=vessel_iterable):
                if float(request.GET.get('X_aft'))<=item.LCG<=float(request.GET.get('X_forward')) \
                and float(request.GET.get('Y_starboard'))<=item.TCG<=float(request.GET.get('Y_portside')) \
                and float(request.GET.get('Z_bottom'))<=item.VCG<=float(request.GET.get('Z_up')):
                    item_choose+=[item]
                    print('oi')
                else:
                    pass

{% extends "weightsheet/base.html" %}

{% block Title_Html %} ASV Vessel List {% endblock %}
        
{% block Title_Page %} ASV Project List {% endblock %}

{% block content %}
        {% for vessel in vessel_list %}
        <div class="container-fluid">
            <div class="vessel">
            <table>
                <tr>
                    <th>ASV Number Project</th>
                    <th>Description</th>
                    <th>Mass</th>
                    <th>LCG (m)</th>
                    <th>TCG (m)</th>
                    <th>VCG (m)</th></tr>
                
                    {% for vessel in vessel_list %}
                        <tr>
                        <td>{{item.ID_Item}}</td>
                        <td>{{item.Part_Name}}</td>
                        <td>{{item.Description}}</td>
                        <td>{{item.Quantity|floatformat:3}}</td>
                        <td>{{item.Mass|floatformat:3}}</td>
                        <td>{{item.LCG|floatformat:3}}</td>
                        <td>{{item.TCG|floatformat:3}}</td>
                        <td>{{item.VCG|floatformat:3}}</td>
                        </tr>
                    {% endfor %}
            </table>
            </div>
                
                    <div class="row">
                        <div class="col-sm-5">
                            <h2><a href="{% url "weightsheet:gs_add" ASV_Project_Number=vessel.ASV_Project_Number %}">
                                
                            {{vessel.ASV_Project_Number}} - {{vessel.Name}} </a></h2>
                            
                            <h5>
                                <b>Creation Date:</b> {{vessel.Creation_date}}

                            {% ifequal vessel.Modification_date None %}
                            {% else %}
                                
                                <b><br>Modification Date:</b> {{vessel.Modification_date}}
                            
                            {% endifequal %}
                            </h5>
                            <br>

                            <p>Description: {{vessel.Description}} <br>
                            Mass: {{vessel.Mass|floatformat:3 }} kilograms<br>
                            LCG: {{vessel.LCG|floatformat:3 }} meters<br>
                            TCG: {{vessel.TCG|floatformat:3 }} meters<br>
                            VCG: {{vessel.VCG|floatformat:3 }} meters</p>
                        </div>
                    
                        <div class="col-sm-4" >
                            <a onclick="return confirm('Are you sure you want to delete this Project?');" class="btn btn-default" href="{% url "weightsheet:vessel_remove" ASV_Project_Number=vessel.ASV_Project_Number %}"><span class="glyphicon glyphicon-remove" ></span></a>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}

{% endblock %}



