{% load staticfiles %}



<html>
    <head>
        <title>ASV {{ASV_Project_Number}} Upload Error</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/weightsheet.css' %}">
    </head>
    <body>
    	<div class="page-header">
            <h1><a>ASV {{ASV_Project_Number}} Upload Error</a></h1>
        </div>
        <div class="vessel">
        		{% if choice %}
        		<h3> Unexpected upload file name. <br><br> 
        		It must be like: ASV-{{ASV_Project_Number}}-S-110-i0011 BOM.xls <br></h3>
        		{% else %}
        		<h3> Unexpected Excel file line. </h3>
        		{% endif %}
        	<h3><a href="{% url "weightsheet:gs_add" ASV_Project_Number=ASV_Project_Number %}">Try again </h3>
        </div>
    </body>
</html>

