{% load staticfiles %}

<html>
    <head>
        <title> ASV Add Vessel</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/weightsheet.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1>ASV New Vessel</h1>
        </div>
        <form method="POST" class="post-form"  style="margin-left:40px;">{% csrf_token %}
            {% for field in form %}
                <div class="row">
                    <div class="col">
                        <div style="margin-left:-20px;"> {{field.errors}}</div>
                        {{field.label_tag}}
                    </div>
                    <div class="col">
                        {{field}}  <br><br>
                    </div>
                </div>
            {% endfor %}

            <button type="submit"  class="btn btn-primary" >Create</button>
        </form>
    </body>
</html>