
<html>
    <head>
        <title>ASV Vessel List</title>
    </head>
    <body>
        <div>
            <h1><a>ASV Vessel List</a></h1>
        </div>
        {% for vessel in vessel_list %}
            <div>
                <h2><a href="{% url "weightsheet:gs_infos" pk=vessel.pk %}">{{vessel.Name}}</a></h2>
                <p>Description: {{vessel.Description}} <br>
                Mass: {{vessel.Mass}} kilograms<br>
                LCG: {{vessel.LCG}} meters<br>
                TCG: {{vessel.TCG}} meters<br>
                VCG: {{vessel.VCG}} meters</p>
            </div>
        {% endfor %}

    </body>
</html>




