{% extends "weightsheet/extends/base.html" %}

{% block Title_Html %} New ASV Project {% endblock %}

{% block Title_Page %} New ASV Project {% endblock %}

{% block content %}
        <form method="POST" class="post-form"  style="margin-left:40px;">{% csrf_token %}
            {% for field in form %}
                <div>
                    <div>
                        <div style="margin-left:-20px;"> {{field.errors}}</div>
                        {{field.label_tag}}
                    </div>
                    <div>
                        {{field}}  <br><br>
                    </div>
                </div>
            {% endfor %}

            <button type="submit"  class="btn btn-primary" >Create</button>
        </form>
{% endblock %}