{% extends "weightsheet/base.html" %}

{% block Title_Html %} ASV Vessel List {% endblock %}
        
{% block Title_Page %} ASV Project List {% endblock %}

{% block content %}
        
        <div class="container-fluid">
            <div class="vessel">
            <table>
                <tr>
                    <th>ASV Project Number</th>
                    <th>Description</th>
                    <th>Mass (kg)</th>
                    <th>LCG (m)</th>
                    <th>TCG (m)</th>
                    <th>VCG (m)</th>
                    <th>Remove</th>
                </tr>
                    {% for vessel in vessel_list %}
                        <tr>
                        <td><a href="{% url "weightsheet:gs_add" ASV_Project_Number=vessel.ASV_Project_Number %}">{{vessel.ASV_Project_Number}}</a></td>
                        {% ifequal vessel.Description "This field is optional" %}
                        <td></td>
                        {% else %}
                        <td>{{vessel.Description}}</td>
                        {% endifequal %}
                        <td>{{vessel.Mass|floatformat:3}}</td>
                        <td>{{vessel.LCG|floatformat:3}}</td>
                        <td>{{vessel.TCG|floatformat:3}}</td>
                        <td>{{vessel.VCG|floatformat:3}}</td>
                        <td><a onclick="return confirm('Are you sure you want to delete this Project?');" class="btn btn-default" href="{% url "weightsheet:vessel_remove" ASV_Project_Number=vessel.ASV_Project_Number %}"><span class="glyphicon glyphicon-remove" ></span></a></td>
                        </tr>
                           
                    {% endfor %}
            </table>
            </div>
        </div>

{% endblock %}



